<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="tabla">

  <table id="tablaDatos">
    <tr class="columnTable">
      <th>Codigo de venta</th>
      <th>Nombre del Cliente</th>
      <th>Descripcion del Producto</th>
      <th>Fecha</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let item of arregloDatos">
      <td>{{ item.idVenta }}</td>
      <td>{{ item.nombreCliente }}</td>
      <td>{{ item.productoDescripcion}}</td>
      <td>{{ formatearFecha(item.fecha) }}</td>
      <td>C$ {{ item.precio }}</td>
      <td>{{ item.cantidad }}</td>
      <td>C$ {{ item.total }}</td>

    </tr>
  </table>
</div>

<button class="btnPrint" (click)="createPDF()"><img class="buttonIcon" src="assets/imprimir%20(1).png" alt=""></button>

</body>
</html>
