body{
  color: black;
}

.mainContainer{
  display: flex;
  height: 100vh;
  background-color: #0F1C2E;
  border: white 2px solid;
}

.cuartosInfo{
  background-color: #1f2b3e;
  color: white;
  padding-right: 20px;
  color: white;
  font-family: Ebrima;
  font-size: 22px;
  height: fit-content;
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;

}

.listaCuartos{
  color: white;
}

.informacionCuarto{
  margin-top: 20px;
}
