

.tabla{
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

table {
  width: 100%;
  border-collapse: collapse;

}


tr {
  border: 1px solid black;
}

th{
  color: #8B0000;
  font-size: 16px;
  border: 1px solid black;
}


td{
  font-size: 14px;
}

.btnPrint{
  background-color: transparent;
  border: #8B0000 1px solid;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

.btnPrint:hover{
  background-color: #ffcfce;
}

.buttonIcon{
  width: 25px;
}
