<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>

<div class="sidebar">

  <h2 class="welcome">BIENVENIDO ADMINISTRADOR</h2>

  <button class="menuButton"><img src="assets/casa-en-blanco.png" alt="" class="menuButtonIcon"> <p class="textButton">INICIO</p> </button>
  <button class="menuButton"><img src="assets/persona-munequita.png" alt="" class="menuButtonIcon"> <p class="textButton">SALIDAS</p> </button>
  <button class="menuButton"><img src="assets/carga-de-camiones.png" alt="" class="menuButtonIcon"> <p class="textButton">ENTRADAS</p> </button>
  <button class="menuButton"><img src="assets/dolar-de-caja.png" alt="" class="menuButtonIcon"> <p class="textButton">VENTAS</p> </button>
  <button class="menuButton"><img src="assets/comprobacion-del-carrito-de-la-compra.png" alt="" class="menuButtonIcon"> <p class="textButton">COMPRAS</p> </button>
  <button class="menuButton"><img src="assets/gente-de-la-foto.png" alt="" class="menuButtonIcon"> <p class="textButton">CLIENTES</p> </button>
  <button class="menuButton"><img src="assets/id-insignia.png" alt="" class="menuButtonIcon"> <p class="textButton">EMPLEADOS</p> </button>
  <button class="menuButton"><img src="assets/signo-de-persona.png" alt="" class="menuButtonIcon"> <p class="textButton">PROVEEDORES</p> </button>
  <button class="menuButton"><img src="assets/agregar-usuario%20(3).png" alt="" class="menuButtonIcon"> <p class="textButton">USUARIOS</p> </button>
  <button class="menuButton"><img src="assets/archivos-medicos.png" alt="" class="menuButtonIcon"> <p class="textButton">REPORTES</p> </button>

</div>

<div class="tabPane">

</div>

</body>
</html>
