<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="main">

  <div class="separator">
  </div>

  <div class="container">

    <div class="formulario">

      <div class="header">

        <h2>Entradas</h2>

      </div>

      <div class="form">
        <input class="inputNormal" type="number" placeholder="Codigo Producto" >
        <input class="inputNormal" type="number" placeholder="Codigo Empleado" >
        <input class="inputNormal" type="number" placeholder="Cuarto" >
        <input class="inputNormal" type="date" placeholder="Fecha" >
        <input class="inputNormal" type="number" placeholder="Cantidad">
        <input class="inputNormal" type="number" placeholder="Compra Asociada">

        <label for="tipo"> Tipo: </label>
        <select name="tipo" id="tipo" class="comboBox" >
          <option value="interna">Interna</option>
          <option value="externa">Externa</option>
        </select>


        <div class="buttonContainer">
          <button class="buttonForm confirmar" >CONFIRMAR</button>
          <button class="buttonForm limpiar" id="limpiar" >LIMPIAR</button>
        </div>

      </div>


    </div>



    <div class="tabla">

      <table>
        <tr class="columnTable">
          <th>Codigo Entrada</th>
          <th>Codigo Producto</th>
          <th>Codigo Empleado</th>
          <th>Cuarto</th>
          <th>Fecha</th>
          <th>Cantidad</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button class="headerButton"><img src="assets/lapiz.png" alt="" class="buttonIcon"></button>
            <button class="headerButton"><img src="assets/basura%20(2).png" alt="" class="buttonIcon"></button>
          </td>

        </tr>
      </table>


    </div>


  </div>

</div>


</body>
</html>
