<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="main">

  <div class="separator">
  </div>

  <div class="container">

    <div class="formulario">

      <div class="header">

        <h2>Clientes</h2>

      </div>

      <div class="form">
        <input class="inputNormal" type="text" placeholder="Identidad" [(ngModel)]="modeloClientes.identidad">
        <input class="inputNormal" type="text" placeholder="Primer Nombre" [(ngModel)]="modeloClientes.primerNombre" appSoloLetras>
        <input class="inputNormal" type="text" placeholder="Segundo Nombre" [(ngModel)]="modeloClientes.segundoNombre" appSoloLetras>
        <input class="inputNormal" type="text" placeholder="Primer Apellido" [(ngModel)]="modeloClientes.primerApellido" appSoloLetras>
        <input class="inputNormal" type="text" placeholder="Segundo Apellido" [(ngModel)]="modeloClientes.segundoApellido" appSoloLetras>
        <input class="inputNormal" type="text" placeholder="Telefono" [(ngModel)]="modeloClientes.telefono" appSoloNumero>


        <div class="buttonContainer">
          <button class="buttonForm confirmar" (click)="addProducto()">CONFIRMAR</button>
          <button class="buttonForm limpiar" id="limpiar" (click)="limpiarModelo()">LIMPIAR</button>
        </div>

      </div>


    </div>



    <div class="tabla">

      <table>
        <tr class="columnTable">
          <th>Codigo Cliente</th>
          <th>Identidad</th>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Telefono</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let item of arregloDatos">
          <td>{{ item.idCliente }}</td>
          <td>{{ item.identidad }}</td>
          <td>{{ item.primerNombre }}</td>
          <td>{{ item.segundoNombre }}</td>
          <td>{{ item.primerApellido }}</td>
          <td>{{ item.segundoApellido }}</td>
          <td>{{ item.telefono }}</td>
          <td>
            <button class="headerButton" (click)="cargarDatos(item)"><img src="assets/lapiz.png" alt="" class="buttonIcon"></button>
            <button class="headerButton" (click)="eliminarCliente(item.idCliente)"><img src="assets/basura%20(2).png" alt="" class="buttonIcon"></button>
          </td>

        </tr>
      </table>


    </div>


  </div>

</div>


</body>
</html>
