<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alimentos Carnisima S.A.</title>
</head>
<body>

<div *ngIf="loginStatus == false"><app-login></app-login></div>
<div *ngIf="loginStatus == true && userRol === 'Admin'"> <app-inicio-admin></app-inicio-admin></div>
<div *ngIf="loginStatus == true && userRol === 'Bodeguero'"><app-inicio-bodeguero></app-inicio-bodeguero></div>
<div *ngIf="loginStatus == true && userRol === 'Compras'"><app-inicio-compras></app-inicio-compras></div>
<div *ngIf="loginStatus == true && userRol === 'Vendedor'"><app-inicio-vendedor></app-inicio-vendedor></div>



</body>
</html>
