<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alimentos Carnisima S.A.</title>
</head>
<body>

<div class="header">

  <div class="tabMenu">
    <button class="tabItem"> Inicio </button>
  </div>

  <div class="tabMenu">
    <button class="tabItem"> Gestionar Salidas </button>
  </div>

  <div class="tabMenu">
    <button class="tabItem"> Gestionar Entradas </button>
  </div>

  <div class="tabMenu">
    <button class="tabItem"> Ventas </button>
  </div>

  <div class="tabMenu">
    <button class="tabItem"> Compras </button>
  </div>

  <div class="tabMenu">
    <button class="tabItem"> Proveedores </button>
  </div>

  <div class="tabMenu">
    <button class="tabItem"> Clientes </button>
  </div>

</div>

<div class="">

  <app-inicio></app-inicio>

</div>

</body>
</html>
