<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alimentos Carnisima S.A.</title>
</head>
<body>

<div *ngIf="loginStatus == false">
  <app-login></app-login>
</div>
<div *ngIf="loginStatus == true && userRol === 'Admin'">
  <app-salidas></app-salidas>
  <h2>El rol de usuario es admin</h2>
</div>
<div *ngIf="loginStatus == true && userRol === 'Bodeguero'">
  <app-entradas></app-entradas>
  <button (click)="mostrarRol()"></button>
  <h2>el rol de usuario es bodeguero</h2>
</div>



</body>
</html>
